/* Style for the navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #7d8aff;
  overflow: hidden;
  display: flex; /* Display the links horizontally */
  justify-content: center; /* Center the links horizontally */
  align-items: center; /* Center the links vertically */
  width: 100%; /* Set the navbar to full width */
  height: 60px; /* Set the height of the navbar */
  z-index: 1; /* Ensure the navbar is above the other elements */
}

/* Style for the links in the navbar */
.navbar a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the background color of the active link */
.navbar a.active {
  background-color: #555;
}

/* Add a hover effect for the links */
.navbar a:hover {
  background-color: #ac6262;
}

/* CSS to position the main content area next to the sidebar */
.content {
  margin-left: 220px;
  padding: 20px;
}

.content {
  max-width: 800px;
  margin: 60px auto;
  font-family: Arial, sans-serif;
}

section {
  margin-bottom: 30px;
  display: none;
}

section.active {
  display: block;
}

body {
  font-family: Arial, sans-serif;
}

.section-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

.section-content h3 {
  color: #333;
  margin-bottom: 10px;
}

.section-content p {
  line-height: 1.6;
}

.section-content img {
  width: 50%;
  height: auto;
  display: block;
  margin: 0 auto 10px auto;
}

h1, h2 {
  margin-top: 0;
  text-align: center;
}

.member-card {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.member-card img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.member-card h3 {
  margin: 0;
}

.member-card p {
  margin: 10px 0;
}

.social-links {
  margin: 10px 0;
}

.social-links a {
  margin-right: 10px;
  color: #0077B5;
  font-size: 24px;
}
